{% extends 'base.html.twig' %}

{% block title %}Websites - {{ parent() }}{% endblock %}

{% block main %}
    <div class="d-flex flex-column justify-content-center hero">
        <h2 class="align-self-center">Websites</h2>
    </div>

    <div class="d-flex flex-column gap-4 p-4">
        <!-- -->
    </div>
{% endblock %}
